#resultados-busqueda {
  position: absolute;
  z-index: 10;
  width: 90%;
  left: 5%;
  background: #fffbe8;
  border: 1px solid #e6e2c3;
  border-radius: 12px;
  max-height: 200px;
  overflow-y: auto;
  box-shadow: 0 2px 8px #b7d7c2;
  margin-top: -10px;
}

#resultados-busqueda .list-group-item {
  cursor: pointer;
  transition: background 0.2s;
  border: none;
  background: transparent;
}

#resultados-busqueda .list-group-item:hover {
  background: #f5e6e6;
}